{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Про розробника</h1>
        <p>Цю криптосистему розробила студентка групи ТВ-13 <strong>Савчин Анастасія</strong>.</p>
        <p>Використовуються алгоритми симетричного шифрування, такі як шифр Цезаря, для забезпечення конфіденційності даних.</p>
        <p>Для більш детальної інформації та підтримки, будь ласка, зверніться на <a href="mailto:anasav0004@gmail.com">anasav0004@gmail.com</a>.</p>
    </div>
{% endblock %}
